html{
	margin:0;
	padding:20px;	
	
	background:#FFF;
}

body{
	margin:6em auto;
	
	width:1000px;
	height:800px;
	
	background-image:url(../images/background.png);
	background-repeat: no-repeat;
	
	border-style:solid;
	border-radius: 15px;
	border-color:#0e76bd;


	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;

}

#map {
	margin: 430px 0px 0px 20px;
	top: 35px;
	width: 530px;
	height:430px;
	bottom: 0px;
	
	position: absolute;
	
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
  	-moz-box-shadow: 0px 0px 5px 5px #999;
}

.sin1 {
	margin: 0 0 0 20px;
}

#geo{
	margin:100px 0 0 30px;
}

#geo-form{
	margin: 100px 0 0 30px;
	width:300px;
	display: inline-block;	
}

#adr{
	margin: 100px 0 0 0;
	width:150px;
	display: inline-block;	
}

#adr1{
	margin: 100px 0 0 0;
	width:70px;
	display: inline-block;	
}

h1{
	margin:60px 15px 0 0px;
	padding:0px;
	float: clear-right;
	text-align:right;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:46px;
	color:#FFF;
}

.hills{
	margin:233px 20px 0 0;
	height:410px;
	width:380px;
	padding: 10px;
	
	float: right;
	display: inline;
	
	box-shadow: 0px 0px 5px 5px #999;
	
	overflow-y:scroll;
	
	list-style-type: none;
}


.distance a{
	padding:10px 0 10px 0;
	
	color:#309;
	text-decoration:none;
	
}


.hills li {
	cursor: pointer;
}

.hills > li {
	margin-bottom:10px;
	
	background-color:rgba(255,255,255,.3);	
}

.box{
    margin:0;
	padding:10px 0 10px 0;
	
	background-color: rgba(153,102,153,.3);
}

 .hills li:hover{
	background-color:rgba(0,51,255,.3);
	
}

.hills a,
.hills a:link,{
	padding:10px;
    color: #66C; /*blue*/
	line-height:50;
}


.hills li meter {
	display: inline-block;
	
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;

	-webkit-appearance: none;
	appearance: none;
}

.rater {
	margin: 0;
	padding: 0;
	
	display: inline-block;
	list-style-type: none;
	line-height: 1;
}

.rater-level {
	float: left;
	color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
	color: #efecd2;
	text-decoration: none
}

.rater-level li{
 background:transparent;	
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
	color: #ffe91f;
}


.hills li meter {
	margin: 0;
    padding: 1em;
    width: 0;
	height: 0;
	
    display: inline;
    display: inline;
    
}

/*----------------single.php---------------------*/
h2{
	width:70%;
	margin:10px 0 0px 250px;
	padding:0;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#039;
	text-decoration:underline;
}

h3{
	padding:0;
	margin:0;
	width:70%;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#039;
	
	text-align:center;
	
	text-decoration:underline;
}	


.ratedeco{
	width:500px;
	height:250px;
	margin:10px 0 0 230px;
	padding:10px;
	
	font-family:Arial, Helvetica, sans-serif;
	font:#fff;
	
	line-height: 2;
	
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
	-moz-box-shadow: 0px 0px 5px 5px #999;
	
}

dl{
	padding-top:10px;
}


#address1{
	 float:left;
	 width:100%;
	 
	 font-family:Arial, Helvetica, sans-serif;
}
 
#address{
	 float:left;
	 width:30%;
	 
	 font-family:Arial, Helvetica, sans-serif;
}