html{
	margin:0;
	padding:20px;	
	
	background:#FFF;
}

body{
	margin:6em auto;
	
	width:1000px;
	height:800px;
	
	background-image:url(../images/background.png);
	background-repeat: no-repeat;
	
	-webkit-border-style:solid;
	-webkit-border-radius: 15px;
	-webkit-border-color:#0e76bd;
	-moz-border-style:solid;
	-moz-border-radius: 15px;
	-moz-border-color:#0e76bd;
	border-style:solid;
	border-radius: 15px;
	border-color:#0e76bd;
}

#map {
	margin: 430px 0px 0px 20px;
	top: 35px;
	width: 530px;
	height:430px;
	bottom: 0px;
	
	position: absolute;
	
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
  	-moz-box-shadow: 0px 0px 5px 5px #999;
}

.hills li {
	cursor: pointer;
}

.hills li:hover {
	background-color: #f4f3f0;
}

.hills a,
.hills a:link,
.hills a:visited {
	color: #a18f7f;
	text-decoration: none;
}

.hills li meter {
	display: inline-block;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.rater {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	list-style-type: none;
	line-height: 1;
}

.rater-level {
	float: left;

	color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
	color: #efecd2;
	text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
	color: #ffe91f;
}

.info-window strong {
	display: block;
}